<footer class="bg-slate-950 text-stone-300 dark:bg-stone-400/10 dark:text-gray-750 p-10">
  <div class="container mx-auto max-w-3xl flex-grow">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="block text-center text-sm mb-6">
        Release: <a href="https://github.com/codeimpossible/blog.barboza.io/commit/{{ gitinfo.sha }}">{{ gitinfo.short_sha }}</a>
        &copy;
        <a target="_blank" href="https://blog.barboza.io">
          Jared Barboza
        </a> 2026. Written content is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>, 
        original posted code is licensed under the >a href="https://choosealicense.com/licenses/mit/">MIT</a> license.
        </p>
      </div>
      <div style="text-align: right">
        <ul>
          <li><i class="fa-solid fa-book"></i>&nbsp;<a href="{{ site.baseUrl }}license/">License</a></li>
          <li><i class="fa-brands fa-github"></i>&nbsp;<a href="https://github.com/codeimpossible">GitHub</a></li>
          <li><i class="fa-brands fa-mastodon"></i>&nbsp;<a rel="me" href="https://mastodon.gamedev.place/@Literallyacat">Mastodon</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
