<footer>
  <div class="container mx-auto max-w-3xl flex-grow">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="block text-center text-sm mb-6">
        &copy;
        <a target="_blank" href="https://jaredbarboza.me">
          Jared Barboza
        </a> 2020.
        </p>
      </div>
      <div style="text-align: right">
        <ul>
          <li><a href="{{ site.baseUrl }}license/">Licensing</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>