<aside class="intro">
  <a href="{{ site.baseUrl }}">
    <img src="{{ site.baseUrl }}me.jpg" alt="Me. Well, no I'm me. That's a picture. But it's of me. I mean Jared. I mean that's a picture of me, Jared." class="rounded-full border-slate-400 dark:border-indigo-300/10" />
  </a>
  <div class="intro__greeting mb-5">
    <h1>Hey there 👋, I'm Jared.</h1>
    <h2>Future skeleton. Cook, coder and lover of all things 🍕. Dispenser of artisanal emoji, gifs and memes.</h2>
    <p>
      <a href="{{ site.baseUrl }}license/" class="hidden intro__content-license mt-4"><small>Content license</small></a>
    </p>
  </div>
  <div class="intro__social-links flex flex-row-reverse items-end *:cursor-pointer *:flex *:items-center *:justify-center *:w-10 *:h-10 *:rounded-full *:border *:ml-2 *:mr-2 *:transition-colors *:duration-300">
    <a href="https://github.com/codeimpossible/" title="find me on GitHub" class="border-slate-400 bg-sky-50 hover:bg-gray-200 text-gray-950 dark:hover:bg-sky-500/25 dark:text-sky-100 dark:border-sky-500/15 dark:bg-sky-500/10">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://mastodon.gamedev.place/@Literallyacat" title="find me on Mastodon" class="border-slate-400 bg-sky-50 hover:bg-gray-200 text-sky-700 dark:hover:bg-sky-500/25 dark:text-sky-300 dark:border-sky-500/15 dark:bg-sky-500/10">
      <i class="fa-brands fa-mastodon"></i>
    </a>
    <a href="/feed/" title="Jared Barboza's RSS Feed"class="border-slate-400 bg-sky-50 text-amber-600 hover:bg-gray-200 dark:hover:bg-sky-500/25 dark:text-orange-300 dark:border-sky-500/15 dark:bg-sky-500/10">
      <i class="fa fa-rss"></i>
    </a>
    <button id="theme-toggle" title="Toggle dark mode" class="border-slate-400 bg-sky-50 hover:bg-gray-200 dark:hover:bg-sky-500/25 dark:border-sky-500/15 dark:bg-gray-700 dark:bg-sky-500/10" aria-label="Toggle dark mode">
      <i class="fa-solid fa-sun text-yellow-600 !inline dark:!hidden"></i>
      <i class="fa-solid fa-moon dark:text-sky-100 !hidden dark:!inline"></i>
    </button>
  </div>
</aside>
