<div class="grid grid-flow-row grid-cols-3 gap-4 mb-10 mt-10">
    {%- for tag in collections | keys | except("all", "post", "postsWithoutDrafts") %}
        <a class="tag {{ tag }} mx-auto" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
    {%- endfor %}
</div>
