<a href="https://atowninmassachusetts.com/" target="_blank">A town in massachusetts</a> |
<a href="https://twitter.com/codeimpossible" target="_blank">twitter</a> |
<a href="https://github.com/codeimpossible" target="_blank">github</a> |
<a href="https://github.com/codeimpossible/diy-meeting-indicator" target="_blank">diy meeting indicator</a> |
<a href="https://troublecat.io/reanimator/" target="_blank">Reanimator</a>
