.tag-inline,
.tags .tag {
  display: inline-block;
  text-decoration: none;
}

.tag {
  font-size: 9.5px;
  line-height: 12px;
  height: auto;
  text-transform: uppercase;
  padding: 4px 6px;
  margin: 0 5px;
  vertical-align: middle;
  font-weight: 100;
  border-radius: 15px;
}

.is-tagindex .tag {
  @apply !text-lg;
}

.is-tagindex .tags_header {
  @apply hidden;
}

.tag:before {
  content: '';
}

.post-list .tags {
    float: right;
}
