---
title: '😭 404 – Page Not Found'
permalink: /404.html
---

{% extends 'page.njk' %}

{%block bodyClass %} is-fourohfour {% endblock %}

{% block body %}
  <h2 class="mb-2">{{ title }}</h2>
  <p class="mb-2">Sorry, not sure what you were looking for, but that doesn't seem to exist here. No worries though, you can check out the <a href="{{ site.baseUrl }}">full list of blog posts on the main page</a>, or maybe <a href="/tags.html">browse the tag index</a> if you know what you're looking for.</p>
{% endblock %}
