---
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
title: '👋 Hey there'
---

{% extends 'page.njk' %}

{%block bodyClass %} is-home {% endblock %}

{% block body %}
  {% if pagination.pageNumber == 0 %}

  {% endif %}
  {% include "posts.njk" %}

  {% include "pagination.njk" %}
{% endblock %}
