---
pagination:
  data: collections.posts
  size: 6
  alias: posts
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
title: '👋 Hey there'
---

{% extends 'page.njk' %}

{% block body %}
  {% include "posts.njk" %}

  {% include "nav.njk" %}
{% endblock %}